#conteneur {
    display: flex;
}

#groupes {
    padding: 12px;
    width: 250px;
    background:#434343;
}

.groupe a {
    text-decoration:none;
    padding: 12px;
}

hr {
     height: 1px;
    background-color : #000000;
}

#messages {
    flex: 1;
    padding: 15px;
    min-width: 800px;
    background:white;
    color: black;
}

.conversationami, .conversationmoi {
    padding: 12px;
    border-radius: 5px;
}

.conversationami {
    margin-right: 5%;
    background: #56739a;
}
.conversationmoi {
    margin-left: 5%;
    background: #77B5FE;
    text-align: right;
}
#ecrire {
    display:flex;
    align-items: center;
    justify-content: center;

}

textarea {
    margin: 12px;
    width: 300px;
}