/*
 * style_accueil.css
 *
 * Style de la page d'accueil
 */
#conteneur {
    display: flex;
}

#profil {
    padding: 12px;
    background: #434343;
    color: white;

    width: 15%;
}

#mur {
    flex: 1;
    padding: 12px;

    display: flex;
    flex-direction: column;

}

#mur article {
    background: #eee;
    margin: 8px;
    padding-top: 12px;
    box-shadow: black 4px 4px 4px;
    border-radius: 4px;
}

#post
{
    display: flex;
    margin-left: 15px;
}

.posteact
{
    margin-left: -85px;
    margin-top: 19px;
}

#actionpost
{

}
.butpost
{
    background: white;
}

.partager
{
    background: #0c5460;
}