/*
 * style_menuhaut.css
 *
 * Style du menu en haut de la page
 */
#menu_haut {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #434343;
    padding: 15px;


}

#menu_haut #espace {
    flex: 1;
}


#menu_haut a:link {
    color: white;
    text-decoration: none;

    margin: 10px 15px;
}

#menu_haut a:visited {
    color: white;
    text-decoration: none;

    margin: 10px 15px;
}

#menu_haut a:hover {
    background-color: #777;

    font-size: medium;

    padding: 8px 10px;
    display: inline-block;
    margin: 2px 5px;
}