/*
 * style_accueil.css
 *
 * Style de la page d'accueil
 */
#conteneur {
    display: flex;
}

#profil {
    padding: 12px;
    background: #434343;

    width: 15%;
}

#murreseau {
    flex: 1;
    padding: 12px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

#murreseau article {
    background: #eee;
    color: black;
    display: flex;

    margin: 8px;
    padding: 12px;
    box-shadow: #222 4px 4px 4px;
    border-radius: 4px;
}

.postprofil {
    display: flex;
    flex-direction: column;
    width: 150px;

    margin: 12px;
}

.postprofil p {
    margin: 5px;
}

.post {
    margin: 12px;
    flex: 1;
}

#status form {
    flex: 1;
    display: flex;
}

#statusinfos {
    display: flex;
    flex-direction: column;

    width: 250px;
}

#statusinfos div {
    display: flex;
    margin: 8px;
}

.statusmultimedia {
    display: flex;
    flex-direction: column;
}

#status form textarea {
    margin: 12px;
    flex: 1;
}

.notifmur a {
    color: #eee;
    text-decoration: none;
    border:1px solid #434343;
    background-color: #434343;
    padding: 5px;
    margin-left: 1100px;
}

.lien
{
    margin-top: 90px;
    margin-left: -150px;
}

.lienpartage
{
    margin-top:90px;
    margin-left: 850px;
}

#butstatut
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 25px;
}